$primary-color: #643f8e;
$violet-light-color: #b9b3e2;
$gray-color: #858585;
$gray2-color: #686868;
$gray3-color: #757575;
$success-color: #78ca3c;
$danger-color: #ef8888;
$silver-blue-color: #f5f6fa;